/*CSS by Anders Erik Nissen
UCN MMDA0920*/
@charset "uft-8";
* {box-sizing: border-box;margin: 0; padding: 0;}

:root {
    /* 
    Steps
    */
    --intro-display: flex;
    --step-one-display: none;
    --step-two-display: none;
    --mainMain-display: none;

    /* 
    Themes
    */
    --theme-width: 100%;
    --theme-height: 60vh;
    /* Style */
    --theme-edge: 10vw;
    --theme-round: 50%;
    --theme-border: 1px;

    /* 
        --- Globals
    */
    --corners: 0;

    /* Color */
    --theme-div-containerBG: rgba(0, 0, 0, 0);
    --theme-div-bg: rgba(0, 204, 255, 0);
    --theme-color-main: rgba(255, 255, 255, 0.87);
    --theme-color-sec: rgba(212, 212, 212, 0.699);

    --theme-two-cBG: rgb(255, 166, 0);

    /* 
        --- Color Picker
    */
    --picker-color-one: #347fc5;
    --picker-color-two: linear-gradient(346deg, rgba(224,140,42,1) 0%, rgba(244,48,206,1) 100%);
    --picker-color-bg: #081534;


    /*  -----------------
        --- Main Main --- 
        -----------------   */  
    --mainMain-color-one: 0;
    --mainMain-color-two: 0;
    --mainMain-color-bg: 0;

    --mainMain-edge: 0;
}


/*############### 
      FONTS 
################*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


/*###########  
    GRID  
############*/
.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-desk), 1fr);
    grid-gap: var(--grid-gap);
}
.grid-clmnCenter {
    justify-content: center;
    align-items: center;
}
/*##########
    FLEX 
###########*/
.flex-center-XandY {
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    justify-content: center;
    align-items: center;
}


/*##################
    MEDIA QUERIES 
###################*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(var(--grid-column-tablet), 1fr);
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(var(--grid-column-mobil), 1fr);
    }
}

/*##################
        CODE
###################*/
body {
    background-color: var(--main-color);
    display: grid;

    /* font-family: 'Style Script', cursive; */
    /* font-family: 'MonteCarlo', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Andada Pro', serif; */
    font-family: 'Roboto Mono', monospace;
    color: white;
}
#mainHero {
    grid-area: 1 / 1 / 3 / 2;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 
    Fonts
*/
h1 {
    font-size: calc(var(--font-size-desk) * 4);
    font-weight: normal;
}
h2 {
    font-size: calc(var(--font-size-desk) * 2);
    margin: 1rem;
}
p {
    font-size: calc(var(--font-size-desk) * 1);
    margin: 1rem;
}


#pinkTree {
    width: 35vw;
}
#arrowContainer {
    grid-area: 2 / 1 / 3 / 2;
    height: 10vh;
    display: flex;
    justify-content: center;
}
#arrowUp {
    background-color: transparent;
    color: white;
    border: white solid 1px;
    height: fit-content;
}
#arrowUp:hover {
    color: var(--main-color);
    background-color: white;
    border: white;
}

@keyframes move {

    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(50px,20px)
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes bounce {
    50% {
        transform: translateY(10px);
    }
}
/* 
    Main Content
*/
#topX {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}
#topX button {
    background-color: transparent;
    border: none;
    padding: 2px;
    width: 30px;
    height: auto;
}
#topX img {
    width: 100%;
    height: auto;
}
#mainContent_container {
    grid-area: 1 / 1 / 3 / 2;
    z-index: 2;
    overflow: hidden;
    height: 0;

    background-color: #ce1e58;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mainContent_container > * {
    color: white;
}

#mainContent {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#mainContent.fadeMain {
    animation: 1s fadeMain ease-in forwards;
    animation-delay: 1s;
}
#mainContent.fadeMainOut {
    animation: .3s fadeMainOut ease-in forwards;
}
@keyframes fadeMain {
    from {opacity: 0;transform: translateY(3vh);}
    to {opacity: 1;transform: translateY(0);}
}
@keyframes fadeMainOut {
    from {opacity: 1;}
    to {opacity: 0;}
}


#intro section {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#pinkTreeTop_container {
    height: 50%;
    width: 100%;
    display: flex;

    flex-direction: column-reverse;
}
#pinkTreeTop {
    height: 30%;
    width: 100%;
}


/* 
    Button
*/
button[type=button] {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 10px;

    min-width: 20ch;
    width: fit-content;
}
button[type=button]:hover {
    background-color: white;
    color: #ce1e58;
}
button[type=button]:active {
    transform: scale(.95);
}

.fadeOut {
    animation: outFade 1s forwards ease-out;
}
@keyframes outFade {
    100% {opacity: 0;}
}

.nextStep {
    animation: step 1s ease-in-out forwards;
}
@keyframes step {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* 
    Themes
*/
#themeContainer, #colorThemes {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 3vh;
}
#innerTheme:hover {
    animation: softScale .5s ease-in-out forwards;
}
@keyframes softScale {
    to  {transform: scale(1.05);}
}

#theme1 {
    background-color: var(--theme-div-containerBG);
    width: var(--theme-width);
    height: var(--theme-height);
    padding: 2vw;

    display: flex;
    justify-content: center;
}
#theme2 {
    /* Root */
    --theme-div-containerBG: var(var(--theme-two-cBG));
    
    background-color: var(--theme-div-containerBG);
    width: var(--theme-width);
    height: var(--theme-height);
    padding: 2vw;
    
    display: flex;
    justify-content: center;
}
#theme2 > * {
    /* Root */
    /* --theme-div-bg: rgb(21, 0, 97);
    --theme-color-main: rgb(245, 208, 88);
    --theme-color-sec: white; */

    --theme-edge: 0px;
}
#innerTheme {
    border-radius: calc(var(--theme-edge) / 10);
    background-color: var(--theme-div-bg);
    
    width: 20vw;
    height: 100%;

    padding: 1.5vw;

    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.295);
}
.rr {
    width: 100%;
    height: 20%;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: left
}
.round{
    border-radius: var(--theme-edge);
    width: 2vw;
    height: 2vw;
    margin: 0 .5vw 0 0;
    background-color: var(--theme-color-main);
}

.rectangle_container {
    width: 60%;
}
.rectangle {
    margin: 0 0 0 .5vw;
    width: 100%;
    height: .5vw;
    border-radius: var(--theme-edge);
    background-color: var(--theme-color-main);
}
.rectangle_small {
    margin: .5vw 0 0 .5vw;
    width: 60%;
    height: .5vw;
    border-radius: var(--theme-edge);
    background-color: var(--theme-color-sec);
}
.textbox {
    border-radius: calc(var(--theme-edge) / 10);
    background-color: var(--theme-color-main);
    width: 100%;
    height: 100%;
}


#intro {
    height: 100%;
    width: 100%;
    display: var(--intro-display);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#step1 {
    height: 100%;
    width: 100%;
    display: var(--step-one-display);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#step1.introNextStep {
    animation: introStep 1s ease-in-out forwards;
}
#step1_nextBtn, #step2_nextBtn  {
    opacity: 0;
}
#step1_nextBtn.showNextBtn, #step2_nextBtn.showNextBtn {
    animation: .4s showNextButton ease-in forwards;
}
@keyframes showNextButton {
    from {opacity: 0; transform: translateY(2vh);}
    to {opacity: 1;transform: translateY(0);}
}

#step2 {
    height: 100%;
    width: 100%;
    display: var(--step-two-display);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#step2.introNextStep {
    animation: introStep 1s ease-in-out forwards;
}

@keyframes introStep {
    0% {
        transform: translateY(3vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.actTheme {
    --theme-div-containerBG: rgb(255, 255, 255);
    --theme-color-main: rgb(20, 20, 20);
    --theme-color-sec: rgba(20, 20, 20, 0.719);
}

.inchght {
    animation: 1s inchght forwards ease-in;
}
.dehght {
    animation: 1s dehght forwards ease-in;
}
@keyframes inchght {
    to {height: 100vh;}
}
@keyframes dehght {
    from {height: 100vh;}
    to {height: 0vh;}
}



/* 
----- Pick a Color!
*/
#colorThemes {
    display: flex;
    flex-direction: row;
    
}
#colorThemes h3 {
    display: block;
    font-size: 2rem;
    margin: 1rem 0;
    color: white;
}
#dark_theme,#light_theme {
    width: 50vw;
    height: 70vh;
    padding: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--theme-div-containerBG);
}
#dark_content:hover, #light_content:hover {
    transform: scale(1.01);
}
#dark_content, #light_content {
    border-radius: calc(var(--corners) / 10);

    height: 100%;
    width: 40vw;
    max-width: 468px;
    padding: 3%;

    background-color: var(--picker-color-bg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.295);
}
#dark_content section:nth-child(1), #light_content section:nth-child(1) {
    height: 30%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: top;
}
#dark_content section.btnContainer, #light_content section.btnContainer {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: column-reverse;
}
#light_content {
    --picker-color-one: rgb(255, 236, 249);
    --picker-color-two: linear-gradient(346deg, rgba(42,224,45,1) 0%, rgba(48,190,244,1) 100%);
    --picker-color-bg: #ce1e58;
}

.colorTitle {
    display: block;
    height: 20%;
    width: 80%;
    margin: 1% 0;

    border-radius: var(--corners);

    background-color: var(--picker-color-one);
}
.colorTitle:nth-child(2) {width: 60%;}

.colorBox {
    display: block;
    width: 100%;
    height: 50%;

    border-radius: calc(var(--corners) / 10);
    background-color: var(--picker-color-one);
}
.colorBtn {
    width: 35%;
    height: 50%;

    border-radius: var(--corners);

    background-image: var(--picker-color-two);
    background-position: center;
    background-size: cover;
}

/* 
 --- Close Button
*/
#xBtn.change {
   animation: 0.5s fadeOutX ease-in forwards; 
}
@keyframes fadeOutX {
    to {opacity: 0;}
}

/* 
    --- Main Main
*/

/* Welcome Section */
#welcomeDiv {
    justify-self: center;
    align-self: center;

    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#mainMain_welcome {
    font-size: 3rem;
    transform: translateY(-10rem);
}
.welcome {
    animation: 4s welcome ease-in-out forwards;
    animation-delay: 0s;
}
@keyframes welcome {
    40% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10rem);
    }
}
.welcome_mainMain {
    animation: 1s welcomeMainMain forwards ease-in;
}
@keyframes welcomeMainMain {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

#hideMainMainContent {
    opacity: 0;
    width: 100%;
    height: 100%;
}
.welcome_mainMain_content {
    animation: fadeDownwards 1s forwards ease-in-out;
    animation-delay: 1s;
}
@keyframes fadeDownwards {
    to {
        opacity: 1;
    }
}

/* Main Section */
#mainMain {
    display: var(--mainMain-display);
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
}
#mainMain_content {
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 10vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--mainMain-color-bg);
}

    /* Note Liste */
    #noteList {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
        height: 100%;
    }
    .noteBox {
        flex: 30%;
        height: 300px;
        background-color: var(--mainMain-color-one);

        border-radius: calc(var(--mainMain-edge) / 10);
        padding: 1vw;
    }

    /* Main Main - Header */
    #mainMain_content header {
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1vw 0;
    }

        /* Logo */
        #logoDiv {
            width: 10vw;
            max-width: 200px;
        }
        #logoDiv > img {
            width: 100%;
            height: auto;
        }

