/*CSS by Anders Erik Nissen
UCN MMDA0920*/
@charset "uft-8";
* {box-sizing: border-box;margin: 0; padding: 0;}


/*############### 
      FONTS 
################*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*############### 
    VARIABLER 
################*/


/*###########  
    GRID  
############*/
.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-desk), 1fr);
    grid-gap: var(--grid-gap);
}
.grid-clmnCenter {
    justify-content: center;
    align-items: center;
}
/*##########
    FLEX 
###########*/
.flex-center-XandY {
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    justify-content: center;
    align-items: center;
}


/*##################
    MEDIA QUERIES 
###################*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(var(--grid-column-tablet), 1fr);
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(var(--grid-column-mobil), 1fr);
    }
}

/*##################
        CODE
###################*/
body {
    background-color: var(--main-color);
    display: grid;

    /* font-family: 'Style Script', cursive; */
    /* font-family: 'MonteCarlo', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Andada Pro', serif;
    color: white;
}
#mainHero {
    grid-area: 1 / 1 / 3 / 2;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 
    Fonts
*/
h1 {
    font-size: calc(var(--font-size-desk) * 4);
    font-weight: normal;
}
h2 {
    font-size: calc(var(--font-size-desk) * 2);
    margin: 1rem;
}
p {
    font-size: calc(var(--font-size-desk) * 1);
    margin: 1rem;
}


#pinkTree {
    width: 35vw;
}
#arrowContainer {
    grid-area: 2 / 1 / 3 / 2;
    height: 10vh;
    display: flex;
    justify-content: center;
    z-index: 20;
}
#arrowUp {
    position: relative;
    border: solid white 1px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
}
#arrow {
    margin-bottom: 5px;
    width: 60%;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes move {

    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(50px,20px)
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes bounce {
    50% {
        transform: translateY(10px);
    }
}
/* 
    Main Content
*/
#mainContent_container {
    grid-area: 1 / 1 / 3 / 2;
    z-index: 2;
    overflow: hidden;
    height: 0;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
#mainContent_container > * {
    color: black;
    font-family: 'Roboto Mono', monospace;
}

/* 
    Button
*/
button[type=button] {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    padding: 10px;

    min-width: 20ch;
    width: fit-content;
}
button[type=button]:hover {
    background-color: black;
    color: white;
}

.intro {
    animation: introFade 1s forwards ease-out;
}
@keyframes introFade {
    100% {opacity: 0;}
}

.step {
    display: none;
    opacity: 0;
}
.nextStep {
    animation: step 1s ease-in-out forwards;
}
.introNextStep {
    animation: step 1s ease-in-out forwards;
    animation-delay: 1s;
}
@keyframes step {
    0% {display: block;}

    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 
    Theme Divs
*/
#theme1 {
    background-color: black;
    width: 30vw;
    height: 40vw;
    padding: 3vw;
}
#theme1 div:nth-child(1) {
    background-color: rgb(87, 87, 87);
    border-radius: 30px;

    width: 100%;
    height: 100%;

    padding: 2vw;

    display: flex;
    align-items: center;
}
#theme1 > div > div:nth-child(1) {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    background-color: rgb(48, 48, 48);
}
#theme1 > div > div:nth-child(2) {
    margin: 0 0 0 2vw;
    width: 100%;
    height: 2vw;
    border-radius: 2vw;
    background-color: rgb(48, 48, 48);
}

#step1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.inchght {
    animation: 1s inchght forwards ease-in;
}
.dehght {
    animation: 1s dehght forwards ease-in;
}
@keyframes inchght {
    to {height: 100%;}
}
@keyframes dehght {
    from {height: 100%;}
    to {height: 0%;}
}