/*CSS by Anders Erik Nissen
UCN MMDA0920*/
@charset "uft-8";
* {box-sizing: border-box;margin: 0; padding: 0;}


/*############### 
      FONTS 
################*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

/*############### 
    VARIABLER 
################*/


/*###########  
    GRID  
############*/
.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-desk), 1fr);
    grid-gap: var(--grid-gap);
}
.grid-clmnCenter {
    justify-content: center;
    align-items: center;
}
/*##########
    FLEX 
###########*/
.flex-center-XandY {
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    justify-content: center;
    align-items: center;
}


/*##################
    MEDIA QUERIES 
###################*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(var(--grid-column-tablet), 1fr);
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(var(--grid-column-mobil), 1fr);
    }
}

/*##################
        CODE
###################*/
body {
    background-color: var(--main-color);
    display: grid;
    height: 100%;

    /* font-family: 'Style Script', cursive; */
    /* font-family: 'MonteCarlo', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Andada Pro', serif;
    color: white;
}
main {
    grid-area: 1 / 1 / 2 / 2;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: calc(var(--font-size-desk) * 6);
    font-weight: normal;
}
p {
    font-size: calc(var(--font-size-desk) * 1.5);
}
#pinkTree {
    width: 35vw;
}
#arrowContainer {
    grid-area: 2 / 1 / 3 / 2;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: relative;
}
#arrowDown {
    width: 50px;
    position: absolute;
    top: 4vh;
    animation: bounce 2s infinite ease-in-out;
}
.cls-7, .cls-8 {
    animation: move 2s infinite linear;
    motion-rotation: reverse;
    offset-path: path('M134,.6C90.55,3.16,78.39,53.27,39.05,51.77,18.63,51-.6,36.61.55,28.56c1.91-13.42,61.32-16.3,92.83-15.83,54.6.83,89.47,12.72,90.73,8.44C185.21,17.45,161.55-1,134,.6Z');
}
@keyframes move {
    100% {
        offset-distance: 100%;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}